.form {
    border-radius: 10px;
    background-color: rgba(245, 222, 179, 1);
    width: 30%;
    margin: 0 auto;
}

.form__input {
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(45, 37, 101);
    color: white;
}

.form__submit {
    background-color: wheat;
    border-radius: 15px;
    /* font-size: 15px; */
    padding: 10px 20px;
    margin-top: 20px;
}

.form__submit:hover {
    background-color: rgb(179, 193, 245);
}

.form__submit:active {
    background-color: rgb(28, 22, 73);
    color: white;
}

.mui {
    color: white;
}